.table-wrapper.table-wrapper-narrow
  %div#tab_logic{class: "table table-bordered table-hover table-small-text margin-top-3 #{css ||= ''}", style: "#{style ||= ''}"}
    %ul.js-insertable.list-view-ul
      - objects.each do |obj|
        %li.list-text-block
          - methods.each do |m|
            = link_to rails_admin.show_path(model_name: obj.class, id: obj.id), {target: 'blank'} do
              = image_tag obj.send(m).to_s, style: 'max-width: 300px'
